* {
    /* background-color: #0dedff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%230dedff' cx='50' cy='0' r='50'/%3E%3Cg fill='%230ee1f7' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%230fd5ee' cx='50' cy='100' r='50'/%3E%3Cg fill='%2310cae6' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%2312bedd' cx='50' cy='200' r='50'/%3E%3Cg fill='%2313b2d5' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%2314a6cc' cx='50' cy='300' r='50'/%3E%3Cg fill='%23159ac4' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%23168fbb' cx='50' cy='400' r='50'/%3E%3Cg fill='%231783b3' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%231977aa' cx='50' cy='500' r='50'/%3E%3Cg fill='%231a6ba2' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%231b5f99' cx='50' cy='600' r='50'/%3E%3Cg fill='%231c5491' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%231d4888' cx='50' cy='700' r='50'/%3E%3Cg fill='%231e3c80' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%231f3077' cx='50' cy='800' r='50'/%3E%3Cg fill='%2321246f' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%23221966' cx='50' cy='900' r='50'/%3E%3Cg fill='%23230d5e' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%23240155' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: contain;
    height: 800px; */
}

*{
    box-sizing: border-box;
}

// .player-wrapper{
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     height: 100vh;
//     min-height: 410px;
// }


//ByteDance首页视频样式！！
.mainPage__player-wrapper{
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%; 
    min-height: 100%; 
    // overflow: hidden;
}
#mainPage__myVideo{
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

//全屏背景图片样式
.mainPage__background {
    position:absolute;
    width:100%; 
    height:100%; 
    background:rgb(247, 229, 208);
    // background-image:url(../../img/backgound1.jpg);
    // z-index: 999;
    background-size:cover;
}

// .search {
//     position: fixed;; 
//     width:100%; 
//     top:50%; 
//     height: 100px;
//     z-index: 999;

//     & h1{
//         margin: 0px;
//     }
// }

#mainPage__webName {
    position: absolute;
    z-index: 999;
    color: azure;
    top:30%;
    left:8.5%;

    & h1{
        font-size: 43px;
    }
}
#mainPage__webIcon {
    position: absolute;
    left: 105%;
    top:26%;
    height: 40px;
    width: 40px;
}

.mainPage__search {
    position: absolute;
    z-index: 999;
    left: 8.5%;
    top:55%;

    width: 600px;
    padding: 12px 24px;
    background-color:antiquewhite;
    transition: transform 250ms ease-in-out;
    font-size: 21px;
    line-height: 18px;

    color: #575756;
    // background-color: transparent;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 95% center;
    border-radius: 50px;
    border: 1px solid #575756;
    transition: all 250ms ease-in-out;
    backface-visibility: hidden;
    transform-style: preserve-3d;

    &::placeholder {
        color: color(#575756 a(0.8));
        text-transform: uppercase;
        letter-spacing: 1.5px;
    }

    &:hover,&:focus {
        padding: 12px 0;
        outline: 0;
        border: 1px solid transparent;
        border-bottom: 1px solid #575756;
        border-radius: 0;
        background-position: 100% center;
    }
    // & input[type=text]:focus {
    //     width: 200%;
    // }
}

#mainPage__searchIcon {
    position: absolute;
    left:84%;
    top:12%;
    width: 40px;
    height: 40px;
    color: gainsboro;
}




