.weatherPage__today {
  z-index: 3;
  color: white;
}

.weatherPage__today--tep {
  top: 165%;
  left: 7%;
  position: absolute;
}

.weatherPage__today--location {
  position: absolute;
  top: 0%;
  left: 142%;
}

.weatherPage__today--icon {
  position: absolute;
  top: 0%;
  left: 210%;
  width: 100px;
}

.weatherPage__today--main {
  position: absolute;
  top: 80px;
  left: 220%;
}

.weatherPage__today--main span {
  font-size: 30px;
  color: white;
}

.weatherPage__today {
  z-index: 3;
  padding: 5px;
  margin: 5px;
}

.weatherPage__today:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-image: url(../img/rainy.jpg);
  background-position: center top;
  background-size: cover;
  background-attachment: fixed;
  filter: blur(18px);
  -webkit-filter: blur(20px);
}

.weatherPage__detail--day {
  position: absolute;
  top: 140%;
  left: 56%;
  right: 0%;
  display: flex;
  flex-wrap: wrap;
  z-index: 3;
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 35px;
}

.weatherPage__detail--day:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-image: url(../img/rainy.jpg);
  background-position: center top;
  background-size: cover;
  background-attachment: fixed;
  -webkit-filter: blur(20px);
  -moz-filter: blur(20px);
  -ms-filter: blur(20px);
  -o-filter: blur(20px);
  filter: blur(30px);
}

.weatherPage__item {
  text-align: center;
  color: black;
  margin: 10px;
  padding: 5px;
  flex: 0 20%;
}

.weatherPage__item--day {
  flex-grow: 1;
}

.weatherPage__item--icon {
  width: 70px;
  width: 40px;
  height: 40px;
}

.weatherPage__item--tep {
  width: 70px;
}

#today--tep {
  font-size: 100px;
  color: white;
  margin: 5px;
  line-height: 140px;
}

#weatherPage__today--detail {
  font-size: 60px;
  color: white;
}

#weatherPage__today--time {
  font-size: 30px;
  color: white;
  position: absolute;
  left: 0%;
  top: 100%;
  width: 300px;
}

.weatherPage__item span {
  font-size: 25px;
  line-height: 35px;
}

.degree {
  width: 60px;
  height: 60px;
  margin: 0px;
  padding: 0px;
  position: absolute;
  left: 75%;
  top: 8%;
}
